.container {
  flex: auto;
  width: 100%;
  height: 600px;
  align-items: center;
  
}

.paragraf{

  text-align: center;
}

 .button_div{
  width: 300px;
  margin-left: 405px;

}


.select-button{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
	background-color: #5f9d9d;
  border-radius: 10px;
  height: 50px;
  width: 250px;
 
}

h1{
  text-align: center;
}