input[type=text], input[type=password] {
  display: inline-block;
  width: 270px;
}

button {
  margin-top: 5px;
  width: 135px;
}

.container {
  padding: 16px;
  margin-left: 5%;
}

.container #username, #password{
	margin-bottom: 10px;
}

label{
	margin-bottom: 2px;
}
