h1{
  text-align: center;
}

.filtrare{
	text-align: center; 
	
}

.check{
	margin-left: 43%;
}

.div_detalii {
	margin-left: 14%;
	margin-top: -27%;
}

#googleMap{
	width:45%;
	height:45%;
	position: center;
	left: 55%;
}

/*
#googleMap{
	width:75%;
	height:75%;
	position: center;
	left: 15%;
}
*/