.sesizare #location{
	width: 355px;
}

.page #descriere_sesizare{
	margin-bottom: 10px;
	padding: 2px;
}

#googleMap{
	width:45%;
	height:45%;
	position: center;
	left: 55%;
}

#tip{
	margin-bottom: 0px;
	margin-top: 15px;
}

.dropdown{
	margin-bottom: 0px;
	width: 355px;
}

.sesizare{
	margin-left: 14%;
	margin-top: -27%;
}

.filtrare{
	text-align: center; 
	vertical-align: middle; 
}

.check{
	margin-left: 43%;
}

textarea{
	width: 355px;
	height: 80px;
}

.camera { 
	width: 115px;
	height: 100px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 15px;
}

.anuleaza{
	margin-right: 57px;
}

button{
	height: 50px;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.back{
	margin-top: 35px;
	margin-bottom: 10px;
}

#calendar_icon{
	width: 30px;
	height: 30px;
	float:left;
}

#location_icon {
	width: 30px;
	height: 30px;
}

.page{
	clear: both;
}

#footer{
	margin-left: -17%;
}
